[submodule "scene_merge"]
	path = scene_merge
	url = https://github.com/godot-extended-libraries/scene_merge.git
[submodule "mesh_lod"]
	path = mesh_lod
	url = https://github.com/godot-extended-libraries/mesh_lod.git
[submodule "vector_graphics"]
	path = vector_graphics
	url = https://github.com/godot-extended-libraries/godot_vector_graphics.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/godot-extended-libraries/godot-sqlite.git