[submodule "sqlite"]
	path = sqlite
	url = https://github.com/godot-extended-libraries/godot-sqlite.git
[submodule "lottie"]
	path = lottie
	url = https://github.com/godot-extended-libraries/lottie.git
[submodule "ewbik"]
	path = ewbik
	url = https://github.com/godot-extended-libraries/ewbik.git
[submodule "geometry3"]
	path = geometry3
	url = git@github.com:godot-extended-libraries/geometry3.git